#wpcf7-f312-o1 {
    max-width: 860px;
    margin: auto;
}

#wpcf7-f312-o1 h1,
#wpcf7-f312-o1 h2,
#wpcf7-f312-o1 label {
    color: white;
    font-family: Syne !important;
}

#wpcf7-f312-o1 h1 {
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin: 60px 0px;
}

#wpcf7-f312-o1 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
    margin: 0px 0px 40px 0px;
}

#wpcf7-f312-o1 label {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: none;
}


#wpcf7-f312-o1 #commande-fruit {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-bottom: 52px;
    padding-top: 40px;
}

#wpcf7-f312-o1 img {
    width: 192.53px;
    height: 128.36px;
}

#wpcf7-f312-o1 .Quantite {
    width: 39px !important;
    height: 56px;
    margin: 15px auto 50px auto;
    text-align: center;
    padding: 0 10px;
}

#wpcf7-f312-o1 .input-planty,
#wpcf7-f291-o1 .input-planty {
    margin-top: 15px;
    width: 383px !important;
    height: 71px;
    border-radius: 7px;
    box-shadow: 0px 4px 14px 0px #0000000A;

}

#wpcf7-f291-o1 textarea.input-planty {

    height: 237px;


}


#wpcf7-f312-o1 #info-livraison .uacf7-row .uacf7-col-6:first-child {
    border-right: solid 1px white;
}

.info {
    width: 383px !important;
}

.livraison {
    position: absolute;
    right: 0px;
    width: 383px !important;
}

.submit-planty {
    padding: 100px 0px 105px 0px;
}


#wpcf7-f291-o1 .bouton-planty {
    margin-top: 75px;
}

.wpcf7-submit.bouton-planty {
    display: block;
    margin: auto;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px !important;
    border-radius: 5px !important;
    background: #E0B9B4 !important;
    font-family: Syne;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;

}

.wpcf7-submit.bouton-planty:hover {
    background: #C02E44 !important;
}



/* Masquer les boutons fléchés du champ number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}